[user]
	name = Reece Davies
	email = rdavies717@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
  s = status
  b = branch
  d = diff
  co = checkout
  amend = commit --amend --no-edit
  sl = log --graph --pretty='%C(yellow)%h %C(green)%cn %C(blue)%ad %C(red)%s ' --date=human
